* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    overflow-x: hidden;

    background:
        #fafafa url("training/bg.280cef1c.png") repeat;

    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

ul {
    list-style: none;
}

button {
    color: inherit;
    font-family: inherit;
}



.container {
    width: calc(100% - 30px);
    max-width: 1310px;

    display: flex;
    align-items: flex-start;
    gap: 30px;

    margin: 60px auto 0;
}

.sidebar {
    flex: 0 0 310px;
}

.main-content {
    flex: 1;
    min-width: 0;
}



/* LEFT CONTENT */



.profile {
    width: 100%;

    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;

    box-shadow: 0 2px 92px rgba(0, 0, 0, 0.07);
}

.profile-name {
    padding: 20px;
    line-height: 18px;
}

.profile-name .name {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.profile-name .job {
    color: #777777;
    font-size: 13px;
}

.profile-image {
    margin-top: -18px;

    clip-path: polygon(0 9%,
            100% 0,
            100% 94%,
            0 100%);
}


.profile-image img {
    display: block;
    width: 100%;
}


.profile-information {
    margin: 8px 0 8px 35px;
}

.profile-information li {
    position: relative;

    padding: 0 0 23px 20px;

    border-left: 2px solid #eeeeee;

    color: #787878;

}

.profile-information li::before {
    content: "";

    position: absolute;
    top: 2px;
    left: -6px;

    width: 8px;
    height: 8px;

    background-color: #ffffff;
    border: 2px solid #ffc500;
    border-radius: 50%;
}

.profile-information li p {
    margin: 0;

    color: #7f7f7f;
    font-size: 13.5px;
    line-height: 12px;
}

.profile-information li p span {
    color: #000000;
}

.profile-information li:last-child {
    margin-top: -2px;
    margin-left: 1.9px;

    border-left: 0;

}


.profile-information .profile-icon {
    height: 40px;
    padding: 0 0 10px 30px;
}

.profile-information .profile-icon::before {
    top: -30px;
    left: -17px;

    width: 40px;
    height: 40px;

    background-color: #ffc500;
    border: 0;
    border-radius: 50%;

    box-shadow: 0 2px 32px rgba(4, 123, 248, 0.3);
}

.profile-information .profile-icon img {
    position: absolute;
    z-index: 1;

    top: -15px;
    left: -10px;

    width: 27px;
}


.download-btn {
    min-height: 37px;

    display: flex;
    align-items: center;

    margin: 18px auto 30px;
    padding: 1px 6px 1px 19px;

    border: 0;
    border-radius: 50px;

    background-color: #ffc500;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #ffb100;
}


.download-icon {
    width: 27px;
    height: 27px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 15px;

    background-color: #ffffff;
    border-radius: 50%;

    font-size: 11px;
}



/* =========================
        RIGHT CONTENT
========================= */



.header {
    min-height: 70px;
    padding: 20px;

    background-color: #ffffff;
    border-radius: 6px;

    box-shadow: 0 2px 92px rgba(0, 0, 0, 0.07);
}

.content {
    min-height: 500px;

    margin-top: 30px;
    padding: 15px;

    background-color: #ffffff;
    border-radius: 6px;

    box-shadow: 0 2px 92px rgba(0, 0, 0, 0.07);
}

.footer {
    min-height: 70px;

    margin: 30px 0;
    padding: 20px;

    background-color: #1e1e1e;
    border-radius: 8px;

    color: #ffffff;
    text-align: center;
}